@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

nav {
    font-family: "Roboto Mono";
}
body {
    font-family: "Roboto";
    background: #fff;
    color: #333;
    margin: 0;
}

main {
    border-left: 250px solid #a5d6a7;
    border-right: 250px solid #a5d6a7;
    padding: 2em;
    margin: 0 auto;
}

.budget-header {
    text-align: center;
    color: #2e7d32;
    margin-top: 5em;
    font-size: 1.5em;
    text-decoration: none;
}

table {
    width: 70%;
    margin: 2em auto;
    border-collapse: collapse;
    font-size: 1.5em;
    border: 1px solid black;
}

th {
    background: #2e7d32;
    color: white;
    padding: 1em;
    text-align: center;
}

td {
    padding: 1em;
    border: 1px solid #bdbdbd;
    text-align: center;

}

tr:nth-child(even) {
    background: #a5d6a7;
}

.tip {
    background: #a5d6a7;
    padding: 1em;
    text-align: center;
    font-weight: bold;
    margin: 1em auto;
    width: 60%;
    border-radius: 5px;
    margin-bottom: 4em;
}