@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body, h1, h2, h3, p {
    margin: 0;
    font-family: "Roboto Mono", sans-serif;
    color: #333333;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}
header {
    padding: 15px;
    border-bottom: 3px solid #333333;
    height: 90px;
    background-color: #2e7d32;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a {
    text-decoration: none;
}
nav a {
    padding: 15px;
    margin: 0 15px;
    text-decoration: none;
    color: #e8f5e9;
    border-radius: 10px;
    transition: color .4s ease, background-color .4s ease;
    border-radius: 10px;
    font-size: 2.5em;
    font-weight: 500;
}
nav a:hover {
    color: #2e7d32;
    background-color: white;
}
#title {
    font-size: 2.5em;
    background-color: #A5D6A7;
    padding: 10px;
    border-radius: 4px;
}
#hero {
    border-bottom: 3px solid #333333;
    text-align: center;
    padding: 100px 0;
    display: grid;
    grid-template-rows: 100px 50px 50px;
    row-gap: 25px;
    place-items: center;
}
#hero a {
    color: #e8f5e9;
}
#hero h1 {
    font-size: 3em;
    width: 70%;
}
#hero h3 {
    font-size: 1.5em;
}
#features {
    background-color: #a5d6a7;
    border-bottom: 3px solid #333333;
    text-align: center;
    text-align: center;
    padding: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 75px 1fr;
}
#features h2, #features h3 {
    font-size: 2em;
    color: black;
}
#features img {
    margin: 15px;
    width: 150px;   
}
#bgt-btn {
    width: 350px;
    padding: 15px;
    background-color: #2e7d32;
    border-radius: 10px;
    text-decoration: none;
    font-size: 2em;
    font-weight: 500;
    transition: box-shadow 0.3s ease, transform 0.4s ease;
}
#bgt-btn:hover {
    box-shadow: 0 12px 25px #333333;
    transform: translateY(-2px);
}
#elevator-pitch {
    padding: 50px 0;
    margin: 0 auto;
    text-align: center;
}
#elevator-pitch p {
    width: 60%;
    margin: 0 auto;
    font-size: 1.3em;
}
#elevator-pitch img {
    height: 500px;
    border-radius: 50px;
    margin: 15px;
}
footer {
    background-color: #2e7d32;
    padding: 25px 0;
    text-align: center;
}
footer p {
    color: #e8f5e9;
    font-size: 1.2em;
}
