body, h1, h2, h3, p {
    margin: 0;
    font-family: sans-serif;
    color: #333333;
}
header {
    padding: 15px;
    border-bottom: 3px solid #333333;
    height: 90px;
    background-color: #2e7d32;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a {
    padding: 15px;
    font-size: 2em;
    text-decoration: none;
    color: #333333;
}
#title {
    font-size: 2.5em;
}
#hero {
    border-bottom: 3px solid #333333;
    text-align: center;
    padding: 100px 0;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 25px;
    place-items: center;
}
#features {
    background-color: #a5d6a7;
    border-bottom: 3px solid #333333;
    text-align: center;
    text-align: center;
    padding: 100px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
#bgt-btn {
    width: 50%;
    padding: 15px;
    background-color: #2e7d32;
    border-radius: 3px;
    text-decoration: none;
    color: #333333;
}
#elevator-pitch {
    width: 50%;
    padding: 100px 0;
    margin: 0 auto;
    text-align: center;
}
#elevator-pitch img {
    width: 100%;
}
footer {
    background-color: #2e7d32;
    padding: 25px 0;
    text-align: center;
}
footer p {
    color: #e8f5e9;
    font-size: 1.2em;
}


/* About Us Page */

#about_hero, #about_team {
    display: grid;
    grid-template-rows: 0.2fr 1fr;
}

#about_hero {
    grid-template-columns: 1fr 1fr;
}

#about_hero h1, #about_team h1 {
    grid-row: 1/2;
    font-size: 2.5rem;
    text-align: center;
}

#about_hero h1 {
    grid-column: 1/3;
}

#about_hero p, #about_main img {
    grid-row: 2/3;
}

#about_hero p {
    grid-column: 1/2;
    font-size: 1.5rem;
}

#about_hero img {
    grid-column: 2/3;
}

#about_team {
    grid-template-columns: 1fr;
}